.navbar-container {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #131615;
    background-color: #F7FFF7;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title-container {
    display: inline-flex;
    justify-self: start;
    margin-left: 2rem;
}

.navbar-title {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .4rem;
    color:#131615;
    transition: color .4s ease-in;
}

.navbar-title:hover {
    color:#84190B;
    cursor: pointer;
}
 
.nav-container {
    display: inline-flex;
    margin-right: 2rem;
}

.navitem {
    margin: 1rem;
    list-style: none;
}

.navlink {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    
}

.user-auth {
    color:#131615;
    transition: color .4s ease-in;
}

.user-auth:hover {
    color: #84190B;
}

.about-link {
    color:#131615;
    transition: color .4s ease-in;
}

.about-link:hover {
    color: #f6AA1C;
}